<div class="col-md-4" ng-show="crearExperienciaDocente.vista_previa">
    <div class="panel panel-default">
        <div class="panel-heading">
            Crear Experiencia Docente
        </div>
        <div class="panel-body">
              <form ng-submit="crearExperienciaDocente.guardar()">
            <div class="thumbnail">
                <br>
                <img src="images/person-flat.png" alt="..." width="150px">
               
                <div class="caption">
                
                    <md-content class="md-padding" layout-wrap>

                     
                        <label>Entidad o Institucion</label>
                        <input type="text" ng-model="InstitucionId.NombreInstitucion" class="form-control" ng-required="true">



                        <label>Fecha Inicial</label>
                        <input type="date" ng-model="FechaInicio" ng-required="true"  class="form-control">

                        <label>Fecha Finnal</label>
                        <input type="date" ng-model="FechaFinalizacion" ng-required="true"  class="form-control">



                        <label>Tipo Actividad</label>
                        <input type="text" ng-model="TipoActividad"  class="form-control" ng-required="true">

                        <label>Campo de Enseñanza</label>
                        <input type="text" ng-model="CampoEnseñanza"  class="form-control" ng-required="true">

                       
                        <label>Tipo Dedicacion</label>
                        <select ng-model="tipoProduccion"  class="form-control">
                          <option ng-repeat="tProduccion in crearExperienciaDocente.tipo_produccion" ng-value="tProduccion.Id">{{tProduccion.Nombre}} </option>
                        </select>


                        <label>Cursos</label>
                        <select ng-model="subtipoProduccion" ng-change="crearExperienciaDocente.getDatoSubtipo(subtipoProduccion)"  class="form-control">
                          <option ng-repeat="sProduccion in crearExperienciaDocente.subtipo_produccion | filter: {'TipoProduccion':{'Id':tipoProduccion}}" ng-value="sProduccion.Id">{{sProduccion.Nombre}} </option>
                        </select>

                        <div ng-repeat="input in infoInput track by input.Id">
                          <label>{{input.DatoId.Nombre}}</label>
                          <input type="{{input.Dominio.Tipo}}" ng-model="input.Dominio.Valor"  class="form-control" ng-required="true">
                        </div>

                        <div ng-repeat="select in infoSelect track by select.Id">
                          <label>{{select.DatoId.Nombre}}</label>
                          <select ng-model="select.Dominio.Valor"   class="form-control">
                            <option ng-repeat="opcion in crearExperienciaDocente.opcion_dato  | filter: {'Dato':{'Id':select.DatoId.Id }}" ng-value="opcion.Id" ng-value="opcion.Id">{{opcion.NombreOpcion}} </option>
                          </select>
                        </div>


                </div>
            </div>
            <div class="row" align="center" ng-show="crearExperienciaDocente.vista_previa">
                <input type="submit" class="btn btn-outline btn-success btn-md" value="Submit">
                <button class="btn btn-outline btn-primary btn-md" ng-click="crearExperienciaDocente.limpiar_seleccion()">Cancelar </button>
            </div>

            </form>
        </div>
    </div>
</div>

<div ng-class="{'col-md-8': crearExperienciaDocente.vista_previa , 'col-md-8 col-md-offset-2': !crearExperienciaDocente.vista_previa}">
  <div class="panel panel-default">
    <div class="panel-heading">
      Experiencia Docente
    </div>
    <div class="panel-body">
      <div ui-grid="crearExperienciaDocente.gridOptions" ui-grid-auto-resize ui-grid-selection class="ui_grid"></div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      Cursos
    </div>
    <div class="panel-body">
      <div id="grid2" ui-grid="crearExperienciaDocente.gridOptionsCursos" ui-grid-grouping></div>
    </div>
  </div>
<div class="row" align="center" ng-show="!crearExperienciaDocente.vista_previa">
  <button class="btn btn-outline btn-primary btn-md" ng-click="crearExperienciaDocente.limpiar_seleccion()">Agregar Experiencia Docente </button>
</div>
<br>
</div>
